
body {
    /*background-image: url('images/polka.jpg');*/
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 50%, rgba(0,0,0,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    color: #020202;
    font-weight: 500;
}

.container {
    background: rgba(255,255,255,0.9);
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;
}

#navLogo {
    margin-right: 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    text-decoration-size: 2px;
}


.jumbotron {
    border-radius: 0px;
    background-image: url('images/comicPolka.jpg');
    font-family: 'Bangers', cursive;
    color: white;
}

.jumbotron h1 {
    font-size: 60px;
}

/*--------------------- INDEX.HBS --------------------- */
#session-form {
    margin-bottom: 20px;
}

#session-form form{
    margin: 15px auto 15px auto;
}

#session-form button {
    display: block;
    margin: 10px auto;
}

#session-form h3, #returning-agent h2 {
    font-family: 'Acme', sans-serif;
}

#returning-agent h2 {
    margin-bottom: 20px;
}

#newsFeed {
    margin: 20px auto;
}


/*--------------------- HEROES.HBS --------------------- */
.heroSquadCard {
    width: 20rem;
    margin: auto;
}

/*--------------------- FAQ.HBS --------------------- */
#faqDiv #inner-ordered-list {
 list-style-type: lower-roman;
 margin: 5px auto;
}

#faqFooter {
    margin: 20px auto;
}
